---
layout: default
title: AronsBlog
---
<!-- 
<div id="home">

  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
 
  <ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <p>{{ post.excerpt }}</p>
    </li>
  {% endfor %}
 </ul>

</div>
 -->
<!--  only excerpt -->
<!-- 
{% for post in site.posts %}
  <h2>{{ post.title }}</h2><span>{{ post.date | date_to_string }}</span>
  <p>{{ post.excerpt }}</p>
  <p><a href="{{ post.url }}">readmore>></a></p>
{% endfor %}
 -->

{% for post in site.posts %}
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <span>{{ post.date | date_to_string }}</span>
  <p>{{ post.content }}</p>
{% endfor %}