<div class="w3-card w3-margin">
	<div class="w3-container w3-padding">
		<h4>Find me</h4>
	</div>
	<div class="w3-container w3-white">
		<p><i class="fa fa-map-marker fa-fw w3-text-black w3-large w3-margin-right"></i> Zürich, CH</p>
		
		<p> <a href="mailto: abc@example.com"><i class="fa fa-envelope fa-fw w3-text-black w3-large w3-margin-right"> </i></a> 
		Email: <a href="mailto: abc@example.com">renzo.dani@gmail.com</a> </p>

		<p><a href="https://github.com/arons"><i class="fa fa-github w3-hover-opacity" style="font-size:36px"></i></a></p>
	</div>
</div>