
  <!-- About Card -->
  <div class="w3-card w3-margin w3-margin-top">
    
    <div class="w3-container w3-white">
	  <p><a href="">
         <img class="none" src="images/me/cartoon.jpg" width="200"  >
         </a>
      </p>
    </div>
    <div class="w3-container w3-white">
      <p>I'm a software engineer with passion for DIY projects.
      </p>
    </div>

	<div class="w3-container w3-white">
	<p>"Perfection is Achieved Not When There Is Nothing More to Add, But When There Is Nothing Left to Take Away."</p>
	<p>(Antoine de Saint-Exupéry).</p>
	</div>
  </div><hr>


  
  <!-- Posts -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Latest Posts</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        <a href="view.html?page=/2022/08/02/kernel.html">Testing your own Linux Kernel</a>
      </li>
      <li class="w3-padding-16">
        <a href="view.html?page=/2021/09/26/new_post.html">Keyboard</a>
      </li>
      <li class="w3-padding-16">
        <a href="view.html?page=/2021/08/25/new_post.html">Blog redesign</a>
      </li>
      <li class="w3-padding-16">
        <a href="view.html?page=/2014/03/28/ipsec.html">Roadworrios Ipsec VPN with SSL certificate authentication</a>
      </li>
	  <li class="w3-padding-16">
        <a href="view.html?page=/2014/01/20/grinder.html">DeLonghi KG79 Grinder Hack</a>
      </li>

      <!--<li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="w3images/rock.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Mingsum</span><br>
        <span>Lorem ipsum dipsum</span>
      </li>-->  

    </ul>
  </div>
  <hr> 
 

